<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- google_fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!-- /google_fonts -->
  <!-- font_awesome_cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /font_awesome_cdn -->
  <!-- axios_cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- /axios_cdn -->
  <!-- vue_dev_version -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /vue_dev_version -->
  <!-- stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /stylesheet -->
  <title>Vue Dischi Musicali</title>
</head>
<body>
  <div id="app" class="wrapper">
    <!-- header -->
    <header class="header_section">
      <div class="logo_section">
        <i class="fab fa-napster"></i>
      </div>
      <div class="title_header_section">
        <h1 class="main_title">napster</h1>
      </div>
      <div class="select_container">
        <select v-model="selected" class="" name="">
          <option disabled value="">Select Genre:</option>
          <option value="all">All</option>
          <option v-for="(item,index) in genres" :value="item">{{item}}</option>
        </select>
      </div>
    </header>
    <!-- /header -->
    <!-- main -->
    <main class="main_section">
      <div v-for="(item,index) in albums" class="cd_container" v-show="item.genre == selected || selected == 'all' ">
        <!-- poster -->
        <div class="poster_container pdd_btm">
          <img :src="item.poster" :alt="`${item.title}_poster`">
        </div>
        <!-- /poster -->
        <!-- title -->
        <div class="title_cd_container pdd_btm">
          <h2 class="second_title">{{item.title}}</h2>
        </div>
        <!-- /title -->
        <!-- author -->
        <div class="author_container pdd_btm">
          <h3 class="third_title">{{item.author}}</h3>
        </div>
        <!-- /author -->
        <!-- genre -->
        <div class="genre_container pdd_btm">
          <h4 class="genre">{{item.genre}}</h4>
        </div>
        <!-- /genre -->
        <!-- year -->
        <div class="year_container">
          <h4 class="year">{{item.year}}</h4>
        </div>
        <!-- /year -->
      </div>
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer class="footer_section">
      <p class="pirate_title"><small>the first pirate experience</small></p>
      <i class="fas fa-skull"></i>
    </footer>
    <!-- /footer -->
  </div>
  <!-- script.js -->
  <script src="js/script.js" charset="utf-8"></script>
  <!-- /script.js -->
</body>
</html>
